[submodule "vendor/dotbot"]
	path = vendor/dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "vendor/dotbot-brew"]
	path = vendor/dotbot-brew
	url = https://github.com/d12frosted/dotbot-brew.git
[submodule "vendor/zgen"]
	path = vendor/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "vendor/z"]
	path = vendor/z
	url = https://github.com/rupa/z.git
